<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WizWar1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WizWar1.Properties.Settings>
      <setting name="ShuffleCards" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MapFile" serializeAs="String">
        <value>map2.txt</value>
      </setting>
      <setting name="MovesPerTurn" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MaxHandSize" serializeAs="String">
        <value>40</value>
      </setting>
      <setting name="GameMode" serializeAs="String">
        <value>Sandbox</value>
      </setting>
    </WizWar1.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
